<section class="section">
  <div class="container">
<h1 class = "title is-1 has-text-centered" align="center">
    Community Guidelines
</h1>
<h2 class = "title is-2">
    Foreword
</h2>
<p>
    Our goal with Spill Street is to make an open community where people can
    talk about things that they’re normally afraid to talk about publicly. We
    want to be able to give a voice to the people that are normally voiceless;
    whether it’s due to fear of being ostracized by the community, or due to
    other reasons, we want to be able to help people speak out about
    organizations and communities that are toxic or harmful to its members.
</p>
<p>
    We advocate freedom of speech within our members.
</p>
<p>
    With that said, there are a couple things that don’t sit well with us here.
    It’s important to have freedom of speech, but your freedom shouldn’t be
    made by taking a freedom someone else. So here we have a list of guidelines
    our community must observe.
</p>
<br>
<p>
    <strong>
        Any posts, rants, or comments that go against the community guidelines
        will be removed from the public site without warning.
    </strong>
</p>
<br>
<h2 class = "title is-2">
    Guidelines
</h2>
<p>
    Note: “Individual” in this case refers to a singular member of an
    organization/group/company that is identified. Any rules regarding an
    Individual also applies if more than one Individual is identified in a
    single post, rant, or comment and can be referred to as “Individuals”. If a
    group of people are named, but none of the people in the group are
    individually identified, then they do not fall under “Individual” or
    “Individuals” and are considered an “Organization” or “Organizations”.
</p>
<p>
    1. Any type of bullying and harassment of individuals is not allowed on the
    site. You’re allowed to post about Organizations but targeting it towards
    an Individual of the organization is not allowed. This includes but does
    not pertain to:
</p>
<p>
    a. Identifying an Individual on the site in methods that include but does
    not pertain to:
</p>
<p>
    i. Stating the name of an Individual
</p>
<p>
    ii. Stating any nicknames that a community identifies as an Individual
</p>
<p>
    iii. Stating any titles that refer specifically to an Individual. (Note
    that referring to groups such as “the exec board” or “the members” is
    allowed)
</p>
<p>
    iv. Any other methods in which one can refer to an Individual person in an
    organization
</p>
<p>
    b. Any threats towards the members of an organization.
</p>
<p>
    c. Posting of pictures or videos containing an Individual.
</p>
<p>
    d. Posting links or urls of social media pages of an Individual.
</p>
<p>
    e. Any other action that can constitute as the bullying or harassment of an
    Individual.
</p>
<p>
    2. Libel or otherwise illegal defamations of an Organization or Individual
    can be subject to legal action. While the site promotes freedom of
    expression, libel is still a criminal offense. Actions that constitute as
    libel/illegal defamation are actions that pertain but are not limited to:
</p>
<p>
    a. The posting, ranting, or commenting of fake information that is meant to
    defame an Individual or Organization
</p>
<p>
    b. The posting, ranting, or commenting of incorrect information and
    treating it as factual.
</p>
<p>
    c. Any other situation in which the Philippine Government constitutes as
    libel or illegal defamation
</p>
<p>
    <strong>Note: </strong>
    If what you’re saying is true and can be defended as a fact, then whether
    you’re insulting or just uncovering certain events about an Individual or
    Organization, it does not count as libel.
</p>
<p>
    Items on the guidelines can be added or removed and any changes affect
    posts, rants, and comments retroactively.
</p>
<p>
    Thanks for reading and happy ranting!
</p>
  </div>
</section>
