<section class = "hero is-danger">
  <div class = "hero-body">
    <div class = "container has-text-centered">
      <h1 class = "title is-1">
        Rant about your orgs
      </h1>
      <p class = "subtitle">
        Search for your orgs below
      </p>
      <div class = "has-text-centered">
          
      <%= render "shared/search-input"%>
      </div>
    </div>
  </div>
</section>
<section class = "section ">
  <div class="container">
    <h3 class="title is-2 has-text-centered">Recent Rants</h3>
    <div class="columns is-multiline">
      <% @rants.each do |rant| %>
        <div class="column is-half">
          <%= render "rants/rant", rant: rant %>
        </div>

      <% end %>
    </div>

  </div>
</section>
