<%= search_form_for @q do |f| %>
  <div class="field">
    <p class = "control has-icons-left">
      <span class = "icon is-left">
        <%= fa_icon "search" %>

      </span>
      <%= f.text_field :name_cont, placeholder: "Search for Organizations", class: 'input search-query', type: "search", "data-autocomplete"  => autocomplete_organization_name_organizations_path%>
    </p>

  </div>
<% end %>
