<%= render "organizations/organization-header", organization: @organization %>
<section class="section">
  <div class="container">
    <h1 class= "title has-text-centered">New Rant</h1>

    <%= render 'form', rant: @rant %>



  </div>
</section>
