@import'bulma';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');

$family-sans-serif: "Raleway", sans-serif !IMPORTANT;

.title {
    font-family: "Poppins", sans-serif;
}

h1 h2 h3 h4 h5 {
    font-family: "Poppins", sans-serif;

}

body {
    font-family: "Raleway", sans-serif ; 
}

.navbar-menu {
    animation: navAnimOpen .2s ease-in-out;
}

@keyframes navAnimOpen {
  0% {display: none;opacity: 0;max-height: 0;}
  1% {display: block;opacity: 0;}
  100% {opacity: 1;max-height: 396px;}
}


.content {
    font-size: 15px;
}
