<% title "Organizations" %>
<section class = "section">
  <div class="containers">
    <h1 class = "title has-text-centered">Organizations</h1>


    <div style = "padding:20px;">
      <%= render "shared/search-input"%>
    </div>
    <div class="columns is-multiline">
      <% @organizations.each do |organization| %>
        <div class="column is-full">
        <%= render "organizations/organization", organization: organization %>
        
        </div>
      <% end %>
    </div>
      <div class = "has-text-centered">
        Can't find your org? <%= link_to "Click here to add it", new_organization_path %>
      </div>



  </div>

</section>
